<!-- website/templates/website/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to My Personal Website</h1>

    <!-- Profile Section -->
    <section id="profile">
        <h2>Profile</h2>
        {% for profile in profiles %}
            <img src="{{ profile.IMG_6719.JPG.url }}" alt="Profile Image" width="300">
        {% endfor %}
    </section>


    <section id="video">
        <h2>My Video</h2>
        {% for video in videos %}
            <video controls width="300">
                <source src="{{ video.video_file.url }}" type="video/mp4">
            </video>
        {% endfor %}
    </section>

    <footer>
        <p>© 2025 Mi Deong Blay. All rights reserved.</p>
    </footer>
</body>
</html>
